<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="./css/style.css">
    <title>Edit a toy</title>
</head>
<body class="body">
    <h1 class="header">EDIT A PRODUCT</h1>

    <article class="article">
        <form action="/doEdit" method="post">
            <table width=100%>
                <tr>
                    Object ID: <input type="text" name="id" value="{{toy._id}}">
                <tr>
                    <td> Name: <input type="text" name="toyName" id="" value="{{toy.name}}"></td>
                </tr>
                <br>
                <tr>
                    <td> Category: <input type="text" name="toyCategory" id="" value="{{toy.category}}"></td>
                </tr>
                <br>
                <tr>
                    <td> Brand: <input type="text" name="toyBrand" id="" value="{{toy.brand}}"></td>
                </tr>
                <br>
                <tr>
                    <td>Price : <input type="text" name="toyPrice" id="" value="{{toy.price}}"></td>
                </tr>
                <tr><td><input type="submit" value="Update"></td></tr>
            </table>
        </form>
    </article>
    <h2 class="footer">@2020 by ATN COMPANY</h2>
</body>
</html>